RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php 

#Prohibe el acceso a las Carpetas y Archvios
Options All -Indexes


ErrorDocument 404 /AutoTramite/404.php
